@model EloWeb.ViewModels.CreateGame

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Game</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <h3>Recent Games</h3>
        <table class="table">
            @foreach (var game in Model.RecentGames)
            {
                <tr>
                    <td>
                        @game.ToString()
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Games", new {Id = game.RowKey}, null)
                    </td>
                </tr>
            }
        </table>


        <h3>New Game Details</h3>
        <table>
            <tr>
                <div class="form-group">
                    <td>
                        @Html.LabelFor(model => model.Winner, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Winner, new SelectList(Model.Players))
                            @Html.ValidationMessageFor(model => model.Winner, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </div>

                <div class="form-group">
                    <td>
                        @Html.LabelFor(model => model.Loser, htmlAttributes: new { @class = "control-label col-md-2"})                        
                    </td>
                    <td>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Loser, new SelectList(Model.Players))
                            @Html.ValidationMessageFor(model => model.Loser, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </div>
            </tr>
        </table>
        
        <p/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
