@using System.Linq
@model EloWeb.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>
    <h3>Rating</h3>
    <table class="table">
        <tr>
            <th>
                Current                
            </th>
            <th>
                Last Change
            </th>
            <th>
                Lowest
            </th>
            <th>
                Highest
            </th>
        </tr>
        <tr>
            <td>
                @Model.Rating
            </td>
            <td>
                @Model.RatingChange
            </td>
            <td>
                @Model.MinRating
            </td>
            <td>
                @Model.MaxRating
            </td>
        </tr>
    </table>
</div>

<hr/>

<div>
    <h3>Form</h3>
    <table class="table">
        <tr>
            <th>
                Recent
            </th>
            <th>
                Games Played
            </th>
            <th>
                Win Rate
            </th>
            <th>
                Current Consecutive Wins
            </th>
            <th>
                Most Consecutive Wins
            </th>
       </tr>
        <tr>
            <td>
                @Model.Form
            </td>
            <td>
                @Model.GamesPlayed
            </td>
            <td>
                @Model.WinRate%
            </td>
            <td>
                @Model.CurrentWinningStreak
            </td>
            <td>
                @Model.LongestWinningStreak
            </td>
        </tr>        
    </table>
</div>

<hr/>

<div>
    <h3>Games Won</h3>
    <table class="table">
        @foreach (var opponent in Model.MostWinsAgainst)
        {
            <tr>
                <td>
                    @Html.ActionLink(opponent.Key, "Details", "Players", new { name = opponent.Key }, null) (@opponent.Count())
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <h3>Games Lost</h3>
    <table class="table">
        @foreach (var opponent in Model.MostLossesTo)
        {
            <tr>
                <td>
                    @Html.ActionLink(opponent.Key, "Details", "Players", new { name = opponent.Key }, null) (@opponent.Count())
                </td>
            </tr>
        }
    </table>
</div>
