@model EloWeb.ViewModels.PlayerDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name (@Model.Rating)</h2>

<div>
    <h3>Form</h3>
    @Model.Form

    <h3>Highest Rating</h3>
    @Model.MaxRating

    <h3>Lowest Rating</h3>
    @Model.MinRating
</div>

<div>
    <h3>Games Won</h3>
    <table class="table">
        @foreach (var opponent in Model.MostWinsAgainst)
        {
            <tr>
                <td>
                    @opponent.Key (@opponent.Count())
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <h3>Games Lost</h3>
    <table class="table">
        @foreach (var opponent in Model.MostLossesTo)
        {
            <tr>
                <td>
                    @opponent.Key (@opponent.Count())
                </td>
            </tr>
        }
    </table>
</div>
