@using System.Linq
@model EloWeb.ViewModels.Records

@{
    ViewBag.Title = "Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Records</h2>

<div>    
    <table>
        <tr>
            <th>
                All-Time Rating (@Model.MostRatingsPointsEver.First().MaxRating)
            </th>
        </tr>
        @foreach (var player in Model.MostRatingsPointsEver)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.Name, "Details", "Players", new { name = player.Name }, null)
                </td>
            </tr>
        }
    </table>

    <hr />

    <table>
        <tr>
            <th>
                Current Rating (@Model.CurrentTopRanked.First().Rating)
            </th>
        </tr>
        @foreach (var player in Model.CurrentTopRanked)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.Name, "Details", "Players", new { name = player.Name }, null)
                </td>
            </tr>
        }
    </table>
        
    <hr />

    <table>
        <tr>
            <th>
                All-Time Winning Streak (@Model.LongestWinningStreak.First().LongestWinningStreak)
            </th>
        </tr>
        @foreach (var player in Model.LongestWinningStreak)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.Name, "Details", "Players", new { name = player.Name }, null)
                </td>
            </tr>
        }
    </table>
    
    <hr />

    <table>
        <tr>
            <th>
                Current Winning Streak (@Model.CurrentWinningStreak.First().CurrentWinningStreak)
            </th>
        </tr>
        @foreach (var player in Model.CurrentWinningStreak)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.Name, "Details", "Players", new { name = player.Name }, null)
                </td>
            </tr>
        }
    </table>

    <hr />

    <table>
        <tr>
            <th>
                Highest Win Rate (@Model.BestWinRate.First().WinRate%)
            </th>
        </tr>
        @foreach (var player in Model.BestWinRate)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.Name, "Details", "Players", new { name = player.Name }, null)
                </td>
            </tr>
        }
    </table>
    
    <hr />

    <table>
        <tr>
            <th>
                Most Games Played (@Model.MostGamesPlayed.First().GamesPlayed)
            </th>
        </tr>
        @foreach (var player in Model.MostGamesPlayed)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.Name, "Details", "Players", new { name = player.Name }, null)
                </td>
            </tr>
        }
    </table>
</div>
